.wrap_score {
    width: 258px;
    height: 263px;
    border: 1px solid black;
    border-radius: 5px;
    background: #fbfbfb;
    position: relative;
    h2 {
        position: absolute;
        margin: 0;
        left: 14px;
        top: 24px;
        font-size: 15px;
    }
}
.radialLegend {
    text-align: center;
    font-size: 16px;
    .percent {
        font-size: 24px;
        font-weight: bold;
    }
}
