.wrap_score {
    width: 258px;
    height: 263px;
    border: 1px solid black;
    border-radius: 5px;
    // background: #fbfbfb;
}
.radialLegend {
    text-align: center;
    font-size: 16px;
    .percent {
        font-size: 24px;
        font-weight: bold;
    }
}
