.key_data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 1290px) {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
