/*
.wrapper_charts {
    display: flex;
    width: calc(100% - 117px);
    height: 615px;
    justify-content: space-between;
    padding: 60px;
}
*/

.wrapper_charts {
    display: flex;
    gap: 20px;
}

.charts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrap_small_charts {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1240px) {
}
